name: 'font_awesome_flutter_named'
description: 'A build of the fantastic font_awesome_flutter package with all the fonts named.'
homepage: 'https://github.com/peiffer-innovations/font_awesome_flutter_named'
version: '1.1.1+4'

environment: 
  sdk: '>=2.18.0 <3.0.0'

dependencies: 
  flutter: 
    sdk: 'flutter'
  font_awesome_flutter: '^10.3.0'

dev_dependencies: 
  ansicolor: '^2.0.1'
  args: '^2.3.2'
  recase: '^4.1.0'
  flutter_test: 
    sdk: 'flutter'
  version: '^3.0.2'

ignore_updates: 
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'vector_math'
  - 'webdriver'
